{
  "singleQuote": true,
  "printWidth": 150,
  "embeddedLanguageFormatting": "off",
  "overrides": [
    {
      "files": "**/*.yml",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
