@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

  .Toastify {
    // Center the toast notifications inside the <main> element, not the viewport.
    // @apply translate-x-32;
    @apply translate-x-24;

    &__toast {
      @apply w-96;
    }
  }

  // .testclass {
  //   font-size: larger;
  //   text-align: center;
  // }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
