<!doctype html>
<html>
<head>
    <title>New Login</title>
</head>
<body>
    <p>We detected a new login to your account!</p>
    <p><strong>Data</strong>:</p>
    <ul style="padding-left: 5px;">
      <li>Email: <%= email %></li>
      <li>Time: <%= time %></li>
      <li>IP: <%= ip %></li>
      <li>Browser: <%= browser %></li>
    </ul>
</body>
</html>
