$base-url: '';

// Colors
$foreground: theme('colors.foreground');
$foreground-alt: theme('colors.foreground-alt');
$background: theme('colors.background');
$background-alt: theme('colors.background-alt');
$primary-accent: theme('colors.primary-accent');
